<div class="w-full h-full flex flex-col sm:flex-row justify-center">
    <div class="card w-5/6 bg-base-100 shadow-xl m-3">
        <div class="card-body">
            <h2 class="card-title">Create Post: </h2>

            <div class="form-control my-2">
                <label class="label">
                    <span class="label-text">Title: </span>
                </label>
                <textarea class="textarea textarea-primary text-xl" placeholder="Title" id="title"></textarea>
            </div>

            <div class="form-control my-2">
                <label class="label">
                    <span class="label-text">Content: </span>
                </label>
                <textarea class="textarea textarea-primary h-72 text-xl" placeholder="Post Content" id="content"></textarea>
            </div>

            <button class="btn btn-outline" id="create-button">Create Post</button>
        </div>
    </div>
</div>

<script src="/js/create-post.js"></script>