<div class="w-full h-full flex flex-col sm:flex-row justify-center">
    <div class="card w-96 bg-base-100 shadow-xl m-3">
        <div class="card-body">
            <h2 class="card-title">Login</h2>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email: </span>
                </label>
                <label class="input-group">
                    <span>Email</span>
                    <input type="text" placeholder="info@site.com" class="input input-bordered" />
                </label>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password: </span>
                </label>
                <label class="input-group">
                    <span>Password</span>
                    <input type="password" placeholder="info@site.com" class="input input-bordered" />
                </label>
            </div>
        </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl m-3">
        <div class="card-body">
            <h2 class="card-title">Create Account</h2>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Username: </span>
                </label>
                <label class="input-group">
                    <span>Username</span>
                    <input type="text" placeholder="info@site.com" class="input input-bordered" />
                </label>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email: </span>
                </label>
                <label class="input-group">
                    <span>Email</span>
                    <input type="text" placeholder="info@site.com" class="input input-bordered" />
                </label>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password: </span>
                </label>
                <label class="input-group">
                    <span>Password</span>
                    <input type="password" placeholder="info@site.com" class="input input-bordered" />
                </label>
            </div>
        </div>
    </div>
</div>