<div class="w-full h-full flex flex-col sm:flex-row justify-center">
    <div class="card w-96 bg-base-100 shadow-xl m-3">
        <div class="card-body">
            <h2 class="card-title">Login</h2>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email: </span>
                </label>
                <label class="input-group">
                    <span>Email</span>
                    <input type="text" placeholder="Email" class="input input-bordered" id="login-email"/>
                </label>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password: </span>
                </label>
                <label class="input-group">
                    <span>Password</span>
                    <input type="password" placeholder="Password" class="input input-bordered" id="login-password"/>
                </label>
            </div>

            <button class="btn btn-outline" id="login-button">Login</button>
        </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl m-3">
        <div class="card-body">
            <h2 class="card-title">Create Account</h2>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Username: </span>
                </label>
                <label class="input-group">
                    <span>Username</span>
                    <input type="text" placeholder="Username" class="input input-bordered" id="create-username"/>
                </label>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email: </span>
                </label>
                <label class="input-group">
                    <span>Email</span>
                    <input type="text" placeholder="Email" class="input input-bordered" id="create-email"/>
                </label>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password: </span>
                </label>
                <label class="input-group">
                    <span>Password</span>
                    <input type="password" placeholder="Password" class="input input-bordered" id="create-password"/>
                </label>
            </div>

            <button class="btn btn-outline" id="create-button">Create</button>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>